.computer{background-image:url(../images/icons/computer.png)!important;background-repeat:no-repeat;}
.home{background-image:url(../images/icons/house.png)!important;background-repeat:no-repeat;}
.cancel{background-image:url(../images/icons/cancel.png)!important;background-repeat:no-repeat;}
.key{background-image:url(../images/icons/key.png)!important;background-repeat:no-repeat;}
.save{background-image:url(../images/icons/save.png)!important;background-repeat:no-repeat;}
.add{background-image:url(../images/icons/add.png)!important;background-repeat:no-repeat;}
.modify{background-image:url(../images/icons/edit.png)!important;background-repeat:no-repeat;}
.delete{background-image:url(../images/icons/delete.png)!important;background-repeat:no-repeat;}
.user{background-image:url(../images/icons/user.png)!important;background-repeat:no-repeat;}
.user_add{background-image:url(../images/icons/user_add.png)!important;background-repeat:no-repeat;}
.user_delete{background-image:url(../images/icons/user_delete.png)!important;background-repeat:no-repeat;}
.user_edit{background-image:url(../images/icons/user_edit.png)!important;background-repeat:no-repeat;}
.user_go{background-image:url(../images/icons/user_go.png)!important;background-repeat:no-repeat;}
.system_settings{background-image:url(../images/icons/cog.png)!important;background-repeat:no-repeat;}
.role{background-image:url(../images/icons/group.png)!important;background-repeat:no-repeat;}
.role_add{background-image:url(../images/icons/group_add.png)!important;background-repeat:no-repeat;}
.role_delete{background-image:url(../images/icons/group_delete.png)!important;background-repeat:no-repeat;}
.role_edit{background-image:url(../images/icons/group_edit.png)!important;background-repeat:no-repeat;}
.role_save{background-image:url(../images/icons/group_go.png)!important;background-repeat:no-repeat;}
.reset_pwd{background-image:url(../images/icons/arrow_redo.png)!important;background-repeat:no-repeat;}
.module{background-image:url(../images/icons/link.png)!important;background-repeat:no-repeat;}
.module_add{background-image:url(../images/icons/link_add.png)!important;background-repeat:no-repeat;}
.module_delete{background-image:url(../images/icons/link_delete.png)!important;background-repeat:no-repeat;}
.module_edit{background-image:url(../images/icons/link_edit.png)!important;background-repeat:no-repeat;}
.field{background-image:url(../images/icons/tag_blue.png)!important;background-repeat:no-repeat;}
.field_add{background-image:url(../images/icons/tag_blue_add.png)!important;background-repeat:no-repeat;}
.field_delete{background-image:url(../images/icons/tag_blue_delete.png)!important;background-repeat:no-repeat;}
.field_edit{background-image:url(../images/icons/tag_blue_edit.png)!important;background-repeat:no-repeat;}
.query{background-image:url(../images/icons/query.png)!important;background-repeat:no-repeat;}
.reset{background-image:url(../images/icons/reset.png)!important;background-repeat:no-repeat;}
.synchro{background-image:url(../images/icons/arrow_refresh.png)!important;background-repeat:no-repeat;}

