<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenxin.authority.dao.BaseUsersMapper" >
<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
  <resultMap id="BaseResultMap" type="com.chenxin.authority.pojo.BaseUsers" >
    <id column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="ACCOUNT" property="account" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="REAL_NAME" property="realName" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="DECIMAL" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="OFFICE_PHONE" property="officePhone" jdbcType="VARCHAR" />
    <result column="ERROR_COUNT" property="errorCount" jdbcType="DECIMAL" />
    <result column="LAST_LOGIN_TIME" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="LAST_LOGIN_IP" property="lastLoginIp" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.userId != null" >
        <![CDATA[ and USER_ID <> #{condition.userId} ]]>
      </if>
      <if test="condition.account != null" >
         and ACCOUNT = #{condition.account}
      </if>
      <if test="condition.password != null" >
         and PASSWORD = #{condition.password}
      </if>
      <if test="condition.realName != null" >
         and REAL_NAME = #{condition.realName}
      </if>
      <if test="condition.realNameLike != null" >
       <![CDATA[ and REAL_NAME LIKE '%'||#{condition.realNameLike}||'%' ]]>
      </if>
      <if test="condition.sex != null" >
         and SEX = #{condition.sex}
      </if>
      <if test="condition.email != null" >
         and EMAIL = #{condition.email}
      </if>
      <if test="condition.mobile != null" >
         and MOBILE = #{condition.mobile}
      </if>
      <if test="condition.officePhone != null" >
         and OFFICE_PHONE = #{condition.officePhone}
      </if>
      <if test="condition.errorCount != null" >
         and ERROR_COUNT = #{condition.errorCount}
      </if>
      <if test="condition.lastLoginTime != null" >
         and LAST_LOGIN_TIME = #{condition.lastLoginTime}
      </if>
      <if test="condition.lastLoginIp != null" >
         and LAST_LOGIN_IP = #{condition.lastLoginIp}
      </if>
      <if test="condition.remark != null" >
         and REMARK = #{condition.remark}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    USER_ID, ACCOUNT, PASSWORD, REAL_NAME, SEX, EMAIL, MOBILE, OFFICE_PHONE, ERROR_COUNT, 
    LAST_LOGIN_TIME, LAST_LOGIN_IP, REMARK
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.chenxin.authority.pojo.Criteria" >
    <include refid="common.Oracle_Pagination_Head" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from BASE_USERS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Oracle_Pagination_Tail" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from BASE_USERS
    where USER_ID = #{userId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from BASE_USERS
    where USER_ID = #{userId}
  </delete>
  <delete id="deleteByExample" parameterType="com.chenxin.authority.pojo.Criteria" >
    delete from BASE_USERS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chenxin.authority.pojo.BaseUsers" >
    <selectKey resultType="java.lang.String" keyProperty="userId" order="BEFORE" >
      select sys_guid() from dual
    </selectKey>
    insert into BASE_USERS (USER_ID, ACCOUNT, PASSWORD, REAL_NAME, SEX, EMAIL, MOBILE, 
      OFFICE_PHONE, ERROR_COUNT, LAST_LOGIN_TIME, LAST_LOGIN_IP, REMARK)
    values (#{userId}, #{account}, #{password}, #{realName}, #{sex}, #{email}, #{mobile}, 
      #{officePhone}, #{errorCount}, #{lastLoginTime}, #{lastLoginIp}, #{remark})
  </insert>
  <insert id="insertSelective" parameterType="com.chenxin.authority.pojo.BaseUsers" >
    <selectKey resultType="java.lang.String" keyProperty="userId" order="BEFORE" >
      select sys_guid() from dual
    </selectKey>
    insert into BASE_USERS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      USER_ID,
      <if test="account != null" >
        ACCOUNT,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="realName != null" >
        REAL_NAME,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="mobile != null" >
        MOBILE,
      </if>
      <if test="officePhone != null" >
        OFFICE_PHONE,
      </if>
      <if test="errorCount != null" >
        ERROR_COUNT,
      </if>
      <if test="lastLoginTime != null" >
        LAST_LOGIN_TIME,
      </if>
      <if test="lastLoginIp != null" >
        LAST_LOGIN_IP,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{userId},
      <if test="account != null" >
        #{account},
      </if>
      <if test="password != null" >
        #{password},
      </if>
      <if test="realName != null" >
        #{realName},
      </if>
      <if test="sex != null" >
        #{sex},
      </if>
      <if test="email != null" >
        #{email},
      </if>
      <if test="mobile != null" >
        #{mobile},
      </if>
      <if test="officePhone != null" >
        #{officePhone},
      </if>
      <if test="errorCount != null" >
        #{errorCount},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime},
      </if>
      <if test="lastLoginIp != null" >
        #{lastLoginIp},
      </if>
      <if test="remark != null" >
        #{remark},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chenxin.authority.pojo.Criteria" resultType="java.lang.Integer" >
    select count(*) from BASE_USERS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update BASE_USERS
    <set >
      <if test="record.userId != null" >
        USER_ID = #{record.userId},
      </if>
      <if test="record.account != null" >
        ACCOUNT = #{record.account},
      </if>
      <if test="record.password != null" >
        PASSWORD = #{record.password},
      </if>
      <if test="record.realName != null" >
        REAL_NAME = #{record.realName},
      </if>
      <if test="record.sex != null" >
        SEX = #{record.sex},
      </if>
      <if test="record.email != null" >
        EMAIL = #{record.email},
      </if>
      <if test="record.mobile != null" >
        MOBILE = #{record.mobile},
      </if>
      <if test="record.officePhone != null" >
        OFFICE_PHONE = #{record.officePhone},
      </if>
      <if test="record.errorCount != null" >
        ERROR_COUNT = #{record.errorCount},
      </if>
      <if test="record.lastLoginTime != null" >
        LAST_LOGIN_TIME = #{record.lastLoginTime},
      </if>
      <if test="record.lastLoginIp != null" >
        LAST_LOGIN_IP = #{record.lastLoginIp},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update BASE_USERS
    set USER_ID = #{record.userId},
      ACCOUNT = #{record.account},
      PASSWORD = #{record.password},
      REAL_NAME = #{record.realName},
      SEX = #{record.sex},
      EMAIL = #{record.email},
      MOBILE = #{record.mobile},
      OFFICE_PHONE = #{record.officePhone},
      ERROR_COUNT = #{record.errorCount},
      LAST_LOGIN_TIME = #{record.lastLoginTime},
      LAST_LOGIN_IP = #{record.lastLoginIp},
      REMARK = #{record.remark}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chenxin.authority.pojo.BaseUsers" >
    update BASE_USERS
    <set >
      <if test="account != null" >
        ACCOUNT = #{account},
      </if>
      <if test="password != null" >
        PASSWORD = #{password},
      </if>
      <if test="realName != null" >
        REAL_NAME = #{realName},
      </if>
      <if test="sex != null" >
        SEX = #{sex},
      </if>
      <if test="email != null" >
        EMAIL = #{email},
      </if>
      <if test="mobile != null" >
        MOBILE = #{mobile},
      </if>
      <if test="officePhone != null" >
        OFFICE_PHONE = #{officePhone},
      </if>
      <if test="errorCount != null" >
        ERROR_COUNT = #{errorCount},
      </if>
      <if test="lastLoginTime != null" >
        LAST_LOGIN_TIME = #{lastLoginTime},
      </if>
      <if test="lastLoginIp != null" >
        LAST_LOGIN_IP = #{lastLoginIp},
      </if>
      <if test="remark != null" >
        REMARK = #{remark},
      </if>
    </set>
    where USER_ID = #{userId}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chenxin.authority.pojo.BaseUsers" >
    update BASE_USERS
    set ACCOUNT = #{account},
      PASSWORD = #{password},
      REAL_NAME = #{realName},
      SEX = #{sex},
      EMAIL = #{email},
      MOBILE = #{mobile},
      OFFICE_PHONE = #{officePhone},
      ERROR_COUNT = #{errorCount},
      LAST_LOGIN_TIME = #{lastLoginTime},
      LAST_LOGIN_IP = #{lastLoginIp},
      REMARK = #{remark}
    where USER_ID = #{userId}
  </update>
</mapper>