<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenxin.authority.dao.BaseModulesMapper" >
<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
  <resultMap id="BaseResultMap" type="com.chenxin.authority.pojo.BaseModules" >
    <id column="MODULE_ID" property="moduleId" jdbcType="DECIMAL" />
    <result column="MODULE_NAME" property="moduleName" jdbcType="VARCHAR" />
    <result column="MODULE_URL" property="moduleUrl" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="DECIMAL" />
    <result column="LEAF" property="leaf" jdbcType="DECIMAL" />
    <result column="EXPANDED" property="expanded" jdbcType="DECIMAL" />
    <result column="DISPLAY_INDEX" property="displayIndex" jdbcType="DECIMAL" />
    <result column="IS_DISPLAY" property="isDisplay" jdbcType="DECIMAL" />
    <result column="EN_MODULE_NAME" property="enModuleName" jdbcType="VARCHAR" />
    <result column="ICON_CSS" property="iconCss" jdbcType="VARCHAR" />
    <result column="INFORMATION" property="information" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.moduleNameLike != null" >
       <![CDATA[ and MODULE_NAME LIKE '%'||#{condition.moduleNameLike}||'%' ]]>
      </if>
      <if test="condition.moduleName != null" >
         and MODULE_NAME = #{condition.moduleName}
      </if>
      <if test="condition.moduleUrl != null" >
         and MODULE_URL = #{condition.moduleUrl}
      </if>
      <if test="condition.parentId != null" >
         and PARENT_ID = #{condition.parentId}
      </if>
      <if test="condition.leaf != null" >
         and LEAF = #{condition.leaf}
      </if>
      <if test="condition.expanded != null" >
         and EXPANDED = #{condition.expanded}
      </if>
      <if test="condition.displayIndex != null" >
         and DISPLAY_INDEX = #{condition.displayIndex}
      </if>
      <if test="condition.isDisplay != null" >
         and IS_DISPLAY = #{condition.isDisplay}
      </if>
      <if test="condition.enModuleName != null" >
         and EN_MODULE_NAME = #{condition.enModuleName}
      </if>
      <if test="condition.iconCss != null" >
         and ICON_CSS = #{condition.iconCss}
      </if>
      <if test="condition.information != null" >
         and INFORMATION = #{condition.information}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    MODULE_ID, MODULE_NAME, MODULE_URL, PARENT_ID, LEAF, EXPANDED, DISPLAY_INDEX, IS_DISPLAY, 
    EN_MODULE_NAME, ICON_CSS, INFORMATION
  </sql>
  <!-- 根据用户ID查询系统菜单 -->
  <select id="selectMyModules" resultMap="BaseResultMap" parameterType="com.chenxin.authority.pojo.Criteria" >
	SELECT  
		<if test="distinct" >
	      distinct
	    </if>
		   a.module_id,
	       a.module_name,
	       a.module_url,
	       a.parent_id,
	       a.leaf,
	       a.expanded,
	       a.display_index,
	       a.is_display,
	       a.en_module_name,
	       a.icon_css,
	       a.information
	  FROM base_modules     a,
	       base_role_module b,
	       base_roles       c,
	       base_user_role   d,
	       base_users       e
	 WHERE a.module_id = b.module_id
	   AND b.role_id = c.role_id
	   AND c.role_id = d.role_id
	   AND d.user_id = e.user_id
  	<if test="condition.userId != null" >
      AND e.user_id = #{condition.userId}
    </if>
    <if test="condition.isDisplay != null" >
      AND a.is_display = #{condition.isDisplay}
    </if>
	<if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.chenxin.authority.pojo.Criteria" >
    <include refid="common.Oracle_Pagination_Head" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from BASE_MODULES
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Oracle_Pagination_Tail" />
  </select>
  <!-- 动态sql，最好不要带外部参数拼装进来，防止SQL注入 -->
  <select id="selectByDynamicSql" parameterType="com.chenxin.authority.pojo.Criteria"
	resultType="java.util.HashMap">
		<![CDATA[ ${condition.dynamicSql} ]]>
  </select>
  <!-- 查找EXTjs里面的Combo对象 -->
  <select id="selectComboBySql" parameterType="com.chenxin.authority.pojo.Criteria"
	resultType="com.chenxin.authority.pojo.Combo" >
		<![CDATA[ ${condition.comboSql} ]]>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from BASE_MODULES
    where MODULE_ID = #{moduleId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from BASE_MODULES
    where MODULE_ID = #{moduleId}
  </delete>
  <delete id="deleteByExample" parameterType="com.chenxin.authority.pojo.Criteria" >
    delete from BASE_MODULES
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chenxin.authority.pojo.BaseModules" >
  	<selectKey resultType="java.lang.Integer" keyProperty="moduleId" order="BEFORE" >
      select SEQ_BASE_MODULES.NEXTVAL from dual
    </selectKey>
    insert into BASE_MODULES (MODULE_ID, MODULE_NAME, MODULE_URL, PARENT_ID, LEAF, EXPANDED, 
      DISPLAY_INDEX, IS_DISPLAY, EN_MODULE_NAME, ICON_CSS, INFORMATION)
    values (#{moduleId}, #{moduleName}, #{moduleUrl}, #{parentId}, #{leaf}, #{expanded}, 
      #{displayIndex}, #{isDisplay}, #{enModuleName}, #{iconCss}, #{information})
  </insert>
  <insert id="insertSelective" parameterType="com.chenxin.authority.pojo.BaseModules" >
  	<selectKey resultType="java.lang.Integer" keyProperty="moduleId" order="BEFORE" >
      select SEQ_BASE_MODULES.NEXTVAL from dual
    </selectKey>
    insert into BASE_MODULES
    <trim prefix="(" suffix=")" suffixOverrides="," >
        MODULE_ID,
      <if test="moduleName != null" >
        MODULE_NAME,
      </if>
      <if test="moduleUrl != null" >
        MODULE_URL,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="leaf != null" >
        LEAF,
      </if>
      <if test="expanded != null" >
        EXPANDED,
      </if>
      <if test="displayIndex != null" >
        DISPLAY_INDEX,
      </if>
      <if test="isDisplay != null" >
        IS_DISPLAY,
      </if>
      <if test="enModuleName != null" >
        EN_MODULE_NAME,
      </if>
      <if test="iconCss != null" >
        ICON_CSS,
      </if>
      <if test="information != null" >
        INFORMATION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{moduleId},
      <if test="moduleName != null" >
        #{moduleName},
      </if>
      <if test="moduleUrl != null" >
        #{moduleUrl},
      </if>
      <if test="parentId != null" >
        #{parentId},
      </if>
      <if test="leaf != null" >
        #{leaf},
      </if>
      <if test="expanded != null" >
        #{expanded},
      </if>
      <if test="displayIndex != null" >
        #{displayIndex},
      </if>
      <if test="isDisplay != null" >
        #{isDisplay},
      </if>
      <if test="enModuleName != null" >
        #{enModuleName},
      </if>
      <if test="iconCss != null" >
        #{iconCss},
      </if>
      <if test="information != null" >
        #{information},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chenxin.authority.pojo.Criteria" resultType="java.lang.Integer" >
    select count(*) from BASE_MODULES
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update BASE_MODULES
    <set >
      <if test="record.moduleId != null" >
        MODULE_ID = #{record.moduleId},
      </if>
      <if test="record.moduleName != null" >
        MODULE_NAME = #{record.moduleName},
      </if>
      <if test="record.moduleUrl != null" >
        MODULE_URL = #{record.moduleUrl},
      </if>
      <if test="record.parentId != null" >
        PARENT_ID = #{record.parentId},
      </if>
      <if test="record.leaf != null" >
        LEAF = #{record.leaf},
      </if>
      <if test="record.expanded != null" >
        EXPANDED = #{record.expanded},
      </if>
      <if test="record.displayIndex != null" >
        DISPLAY_INDEX = #{record.displayIndex},
      </if>
      <if test="record.isDisplay != null" >
        IS_DISPLAY = #{record.isDisplay},
      </if>
      <if test="record.enModuleName != null" >
        EN_MODULE_NAME = #{record.enModuleName},
      </if>
      <if test="record.iconCss != null" >
        ICON_CSS = #{record.iconCss},
      </if>
      <if test="record.information != null" >
        INFORMATION = #{record.information},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update BASE_MODULES
    set MODULE_ID = #{record.moduleId},
      MODULE_NAME = #{record.moduleName},
      MODULE_URL = #{record.moduleUrl},
      PARENT_ID = #{record.parentId},
      LEAF = #{record.leaf},
      EXPANDED = #{record.expanded},
      DISPLAY_INDEX = #{record.displayIndex},
      IS_DISPLAY = #{record.isDisplay},
      EN_MODULE_NAME = #{record.enModuleName},
      ICON_CSS = #{record.iconCss},
      INFORMATION = #{record.information}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chenxin.authority.pojo.BaseModules" >
    update BASE_MODULES
    <set >
      <if test="moduleName != null" >
        MODULE_NAME = #{moduleName},
      </if>
      <if test="moduleUrl != null" >
        MODULE_URL = #{moduleUrl},
      </if>
      <if test="parentId != null" >
        PARENT_ID = #{parentId},
      </if>
      <if test="leaf != null" >
        LEAF = #{leaf},
      </if>
      <if test="expanded != null" >
        EXPANDED = #{expanded},
      </if>
      <if test="displayIndex != null" >
        DISPLAY_INDEX = #{displayIndex},
      </if>
      <if test="isDisplay != null" >
        IS_DISPLAY = #{isDisplay},
      </if>
      <if test="enModuleName != null" >
        EN_MODULE_NAME = #{enModuleName},
      </if>
      <if test="iconCss != null" >
        ICON_CSS = #{iconCss},
      </if>
      <if test="information != null" >
        INFORMATION = #{information},
      </if>
    </set>
    where MODULE_ID = #{moduleId}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chenxin.authority.pojo.BaseModules" >
    update BASE_MODULES
    set MODULE_NAME = #{moduleName},
      MODULE_URL = #{moduleUrl},
      PARENT_ID = #{parentId},
      LEAF = #{leaf},
      EXPANDED = #{expanded},
      DISPLAY_INDEX = #{displayIndex},
      IS_DISPLAY = #{isDisplay},
      EN_MODULE_NAME = #{enModuleName},
      ICON_CSS = #{iconCss},
      INFORMATION = #{information}
    where MODULE_ID = #{moduleId}
  </update>
</mapper>